body { 
    color: #E85A4F;
    background-color: #EAE7DC;
    font-family: Arial, Helvetica, sans-serif;
}

.a { 
    width: 250px;
	padding: 10px;
	text-align: center;
    border: 3px dashed #8e8d8a;
    border-radius: 25px;    
    color: #E85A4F;
    background-color: #D8C3A5;
    font-size: 25px;  
}

#unique {
    background-color: #e85a4f;
    font-family: Verdana, Tahoma, sans-serif;
    color: #D8C3A5;

}

img {
    border: 10px solid #8e8d8a;
    border-radius: 25px;
}

.b {
    color: #8e8d8a;
    
    text-decoration: underline;
    letter-spacing: 3px;
}